<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colorful Flat by tB3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- ----------------------------------------------------java script begins------------------------------------------------------ -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/index2.js"></script>
    
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/stylesheets/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/stylesheets/bootstrap/style.css" /> 
	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-responsive.min.css">
	
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
	
</head>

<body>
<!-- ===========================================Header Start================================================ -->
	<div id="headerSection">
    	<div class="container">
    	   <div class="span3 logo"><a href="#"><img src="/images/logo1.png" alt="" /></a></div>
    	</div>
	</div>
<!-- ===========================================Header Ends================================================ -->

<!-- ===========================================LOG-IN/SIGN-IN SELECT BUTTON START=============================================== -->

<div id="grouptable">
		<table cellpadding="15px">
			<tr>
				<td id="welcomeIntro">WELCOME TO</font></td>
			</tr>

			<tr>
				<td id="yedadongIntro"><strong>YEDADONG</strong></font></td>
			</tr>

			<tr>
				<td id="subIntro">Feel free to communicate with your group!</font></td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="#" onclick="login_open('login_form','signin_form'); return false;"><button id="btnLogin">LOG IN</button></a>
					<a href="#" onclick="signin_open('signin_form','login_form'); return false;"><button id="btnSignin">SIGN IN</button></a>
				</td>
			</tr>
	</table>
	</div>

<!-- ===========================================LOG-IN/SIGN-IN SELECT BUTTON END=============================================== -->

<!-- ===========================================Log In START=============================================== -->

<div id="login_form">
        <div id="titleLogin">
            LOG IN
        </div>
        <div id="contentLogin">
            <form id="formLogin" style="overflow: hidden; " action="./" method="">
                <table>  
                    <tr>
                            <input id="IDLogin" type="text" placeholder="mail@address.com" required/>
                    </tr>
                    <tr>

                            <input id="pwdLogin" type="password" placeholder="password" required />
                    </tr>
                    <input id="submitLogin" type="button" value="LOG IN" />
                </table>
            </form>
        </div>
    </div>
    
<!-- ===========================================Log In END=============================================== -->  
  
<!-- ===========================================Sign In START=============================================== -->

<div id="signin_form">
        <div id="titleSignin">
            SIGN IN
        </div>
        <div id="contentSignin">
            <form id="formSignin" style="overflow: hidden; " action="./" method=""> <!-- 나중에 action에 큰동오빠 url넣고 method에는 get/post이런거 쓰기!! -->
                <table>  
                    <tr>
                            <input id="nameSignin" type="text" placeholder="name" required/>
                    </tr>
                    <tr>
                            <input id="IDSignin" type="text" placeholder="mail@address.com" required/>
                    </tr>
                    <tr>
                            <input id="pwdSignin" type="password" placeholder="password" required />
                    </tr>
                    <tr>
                            <input id="pwd_confirmSignin" type="password" placeholder="Confirm password" required />
                    </tr>
                    <input id="submitSignin" type="button" value="SIGN IN" />
                </table>
            </form>
        </div>
    </div>
    
<!-- ===========================================Sign In END=============================================== -->

</body>
</html>