
/* ------------------------------------------------profile image section style---------------------------------------------------------- */
#infoProfile{width:600px;height:330px;font-family:'Hanna',serif;margin:0 auto;background:#eaeaea;float:left;margin-left:100px;margin-top:70px;position:relative;
  			box-shadow: 10px 10px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  			border-radius: 5%     5%     1%     1% /     1%     1%     1%     1%}
#infoProfile #basicProfile{float:left; width:250px; height:380px}
#infoProfile #detailProfile{float:left; width:300px; height:380px;margin-top:60px; margin-left:30px}
#infoProfile #nameinputProfile{margin-left:15px; font-family: 'Hanna', serif; height: 40px; width:250px; font-color:#282830; font-size:40px; border-color:#eaeaea; background: #eaeaea;}
#infoProfile #jobinputProfile{margin-left:15px; font-family: 'Hanna', serif; height: 20px; width:250px; font-color:#282830; font-size:25px; border-color:#eaeaea; background: #eaeaea;}
#infoProfile .detailinputProfile{margin-left:15px; font-family: 'Hanna', serif; height: 10px; width:250px; font-color:#282830; font-size:15px; border-color:#eaeaea; background: #eaeaea;}
#imageProfile{float:left;margin-top:40px; margin-left:30px;width:230px; height:230px; border:0}


/* ------------------------------------------------------pop-up layer style-------------------------------------------------------------- */
.layer {display: none; position: fixed; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; font-family: Verdana; font-size : 14px}
.layer .background {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity = 50)}
.layer .pop-layer {display: block}
.pop-layer {display: none; position: absolute; top: 50%; left: 50%; width: 410px; height: auto; background-color: #fff; border: 5px solid #454545; z-index: 10; border-radius: 20px}
.pop-layer .pop-container {padding: 20px 25px}
.pop-layer p.ctxt {color: #666; line-height: 25px}
.pop-layer .okclosebtn {width: 100%; margin: 10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align: right}
a.cbtn, a.okbtn {margin-right: 30px; display: inline-block; height: 25px; padding: 0 14px 0; border: 1px solid #454545; background-color: #454545; opacity: 0.6; font-size: 13px; color: #fff; line-height: 25px; font-family: Verdana}
a.cbtn:hover, a.okbtn:hover {border: 1px solid #454545; background-color: #454545; color: black;}
.pop-conts div {float: right; display: inline-block}

/* --------------------------------------------------------------message box style--------------------------------------------------------------- */

#message_box_form {width: 440px; font-family: 'Hanna', serif; font-size: 14px; display: block"; float:right; margin-right:100px; margin-top:50px}
#message_box_form .titleMessagebox {background-color: #282830; border-radius: 5px 5px 0 0; color: #fff; font-size: 20px; text-align: center; text-transform: uppercase; padding: 10px}
#message_box_form .formMessagebox {height: 120px; width: 420px; position: relative; background: #eaeaea; color: #999; font: 100%/1.5em verdana; margin: 0; padding: 10px}
.dateMessagebox{padding: 2px 10px; width: 75px; table-layout:fixed; word-break:break-all; color: black;}
.textMessagebox{padding: 2px 10px; width: 260px; padding-right: 5px}
#message_box_form img{width: 30px; margin-right: 0px}
.sendpersonMessagebox{padding: 2px 10px; float: right; height: 40px; width: 40px; table-layout: fixed}