<div id="templateRvdMessage">
	<table style="table-layout: fixed;">
		<tr>
			<td class="dateMessage">
				<span id="rvdDate" class="dateMessagebox">{{date}}</span>
			</td>
			<td class="titleMessage">
				<span><a href="" class="textMessagebox" id="rvdTitle" type="button" onclick="layer_open('popupRvdmessage', 'layer2')">{{title}}</a></span>
			</td>
			<td class="senderMessage">
				<span><a href="" class="sendpersonMessagebox" id="rvdSender" type="button" onclick="layer_open('popupSendmessage', 'layer')"><strong>{{sender}}</strong></a></span>
			</td>
		</tr>
	</table>
</div>